openapi: 3.0.0
info:
  title: GraphQL Research API
  description: An API to manage datasets, researchers, and articles using GraphQL.
  version: 1.0.0
servers:
  - url: https://api.datacite.org/graphql
paths:
  /graphql:
    post:
      summary: Make a GraphQL query or mutation
      description: Send a GraphQL query or mutation to the server.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphQLRequest'
      responses:
        '200':
          description: A successful GraphQL response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQLResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    GraphQLRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          description: The GraphQL query or mutation.
        variables:
          type: object
          description: The variables for the query or mutation.
          additionalProperties: true
    GraphQLResponse:
      type: object
      properties:
        data:
          type: object
          description: The result of the query or mutation.
          additionalProperties: true
        errors:
          type: array
          description: A list of errors that occurred during the request.
          items:
            $ref: '#/components/schemas/Error'
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          description: A list of errors that occurred during the request.
          items:
            $ref: '#/components/schemas/Error'
    Error:
      type: object
      properties:
        message:
          type: string
          description: A description of the error.
        locations:
          type: array
          description: The locations of the errors in the query, if available.
          items:
            $ref: '#/components/schemas/ErrorLocation'
        path:
          type: array
          description: The path of the field that caused the error, if available.
          items:
            oneOf:
              - type: string
              - type: integer
    ErrorLocation:
      type: object
      properties:
        line:
          type: integer
          description: The line number of the error.
        column:
          type: integer
          description: The column number of the error.
x-graphql-types:
  - name: Dataset
    fields:
      - name: id
        type: ID!
      - name: title
        type: String!
      # ... (other Dataset fields)
  - name: Researcher
    fields:
      - name: id
        type: ID!
      - name: name
        type: String!
      # ... (other Researcher fields)
  - name: Article
    fields:
      - name: id
        type: ID!
      - name: title
        type: String!
      # ... (other Article fields)
# ... (components section)
x-graphql-queries:
  - name: Fetch all dataset titles
    query: |
      {
        datasets {
          title
        }
      }
  - name: Fetch a researcher with their datasets and articles
    query: |
      {
        researcher(id: "1") {
          name
          datasets {
            title
          }
          articles {
            title
          }
        }
      }
# ... (components and custom extensions)

